<!DOCTYPE html>
<html lang="en">

<head>
    <title>Passing to Next Phase - Full Acceptance</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>

<body>
    <div id="div-page"
        style="border: 2px solid #86C232;border-radius: 45px;width: 40em;padding: 35px;margin: 5em;text-align: justify; border-width: thick">
        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            Passing to Next Phase - Full Acceptance
        </h1>
        <h1 style="line-height: 45px;text-align: left;">
             Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
        </h1>
        <div id="div-content" style="line-height: 26px;">
            <p>Congratulations! On reviewing your effort toward your studies, interpersonal dynamics, attendance, completion of assignments, and quality of assignments, we’ve found that you are ready to move on to the next phase of your time at Moringa School in joining next phase!</p>
            <p>More details about next phase incoming - stay tuned. And again, congratulations!</p>
            <p>Best</p>
            <p>Classroom Team</p>
        </div>
    </div>

</body>

</html>
