<!DOCTYPE html>
<html lang="en">

<head>
    <title>Congratulations! Acceptance to the Next Phase On Probation</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>

<body>
    <div id="div-page"
        style="border: 2px solid #86C232;border-radius: 45px;width: 40em;padding: 35px;margin: 5em;text-align: justify; border-width: thick">
        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            Congratulations! Acceptance to the Next Phase On Probation
        </h1>
        <h1 style="line-height: 45px;text-align: left;">
             Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
        </h1>
        <div id="div-content" style="line-height: 26px;">
            <p>Congratulations! You're moving on to {{next_module}}.</p>
            <p>Your acceptance comes with one stipulation: as discussed, your {{probation_reasons}} were not exactly up to par so far. This means that you are on academic probation for the next module, and we need to see extra effort from you in that (and all) areas in order to ensure that you are truly able to succeed here at Moringa School.</p>
            <p>You absolutely must complete all IPs and show great growth in order to continue. You have frequent check-ins with your TM to help you along the way. Be proactive in your learning, ask for what you need if you start to fall behind again, and work hard.</p>
            <p>This stipulation is our version of probation, which at Moringa School is different than in a traditional learning institution. It means that we expect you to excel throughout the next module, and have strong communication with your Technical Mentor so that you receive the support that you need in order to be successful.</p>
            <p>As always, we’re here to support you. Reach out to your Technical Mentor if you want to talk through the rationale behind this and make a plan.</p>
            <p>Best</p>
            <p>Classroom Team</p>
        </div>
    </div>

</body>

</html>
