<!DOCTYPE html>
<html lang="en">

<head>
    <title>Not Passing to Next Phase</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>

<body>
    <div id="div-page"
        style="border: 2px solid #86C232;border-radius: 45px;width: 40em;padding: 35px;margin: 5em;text-align: justify; border-width: thick">
        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            Not Passing to Next Phase
        </h1>
        <h1 style="line-height: 45px;text-align: left;">
             Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
        </h1>
        <div id="div-content" style="line-height: 26px;">
            <p>Unfortunately, we cannot offer you admission to [next phase] at this time. As discussed in your 1.1s and through Moringa School's policies, your effort toward your studies, interpersonal dynamics, attendance, completion of assignments, and quality of assignments throughout and by the end of {{cohort_name}} was not enough to fully pass and merit your progress to the next phase of Moringa School.</p>
            <p>As always, we are here to support you and want you to have successful outcomes. Through our experience, it is in your best interest to ask you to retake {{cohort_name}} so that you fully grasp the material before moving forward. We see a lot of potential in you and strongly recommend this option for you.
            </p>
            <p>The start date of the next class is {{next_class_date}}. Let us know what you’re thinking, and of course, we’re happy to talk this through with you.</p>
            <p>Feel free to reach out to your Technical Mentor if you have specific questions about this decision.</p>
            <p>Best</p>
            <p>Classroom Team</p>
        </div>
    </div>

</body>

</html>
