<!DOCTYPE html>
<html lang="en">

<head>
    <title>A Quick Status Update</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">
</head>

<body>
    <div id="div-page"
        style="border: 2px solid #86C232;border-radius: 45px;width: 40em;padding: 35px;margin: 5em;text-align: justify; border-width: thick">
        <h1 style="line-height: 35px;text-align: center; color: #86C232;">
            A Quick Status Update
        </h1>
        <h1 style="line-height: 45px;text-align: left;">
             Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
        </h1>
        <div id="div-content" style="line-height: 26px;">
            <p>To give you an update on how you are doing in class, you are currently on track to move forward to the next module.</p>
            <p>As you know, Moringa School looks at 3 major aspects of your learning in considering whether you proceed to the next module:
            </p>
            <ul>
                <li>Attendance and punctuality.</li>
                <li>Completion and quality of your IPs.</li>
                <li>Positive contributions to the classroom environment; are you working well with others, and interpersonal skills.</li>
            </ul>
            <p>As it stands:</p>
            <ul>
                <li>Your attendance out of 100 is {{attendance}}.</li>
            </ul>
            <p>As for your IPs:</p>
            <ul>
                {% for ip in ips%}
                <li>{{ip}}</li>
                {% endfor%}

            </ul>
            <p>Based on the above scores we recommend that you spend the rest of the module working on improving the following.</p>
            <ul>
                <li>{{improvements}}</li>
            </ul>
            <p>This is an automatic email. Please do not reply to it. Follow up with your TM if you have any questions and fill out <a href="https://goo.gl/forms/0IirlKjvqZ7Qwyt72" target="_blank">this form.</a></p>
            <p>Best</p>
            <p>Classroom Team</p>
        </div>
    </div>

</body>

</html>
