[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
isort = "*"

[packages]
django-environ = "*"
psycopg2-binary = "*"
pytest-django = "*"
pytest-cov = "*"
drf-yasg = "*"
pillow = "*"
pyjwt = "*"
django-cors-headers = "*"
sentry-sdk = "*"
django-simple-history = "*"
celery = "==4.4.2"
redis = "*"
cloudinary = "*"
django = "===3.1.2"
google-auth = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
pandas = "*"

[requires]
python_version = "3.7"
