<!DOCTYPE html>
<html lang="en">

<head>
    <title>A Quick Status Update</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper" style="background-color:#f6f8fc; width: 618px; height: 820px; padding: 0 0 19.6px;">

    <div id="banner" style="width: 214px;height: 117px;padding: 7px 183px 7px 221px;background-color: #8f9948;">
        <img src="https://moringaschool.com/sites/default/files/default_images/Moringa_Logo-Dark.png" alt="logo" width="214px"; height="103px%">
    </div>

        <div id="white-background" style="  width: 361px;height: 610px;margin: 0px 128px 14.4px 129px;padding: 27.8px 19px 23.2px 29px;background-color: #ffffff;">

        <div id="div-page">
            <h1 style="  width: 313px;height: 17px;margin: 0 0 13px;font-family: Poppins;font-size: 12px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 2.4;letter-spacing: normal;text-align: left;color: #636363;">
                A Quick Status Update
            </h1>

            <h1 style="height: 12px;font-family: Poppins;font-size: 12px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 3.2;letter-spacing: normal;text-align: left;color: #636363;">
                Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
            </h1>

        <div id="div-content" style="line-height: 26px; width: 292px; height: 106px; margin: 13px 10px 0 11px; font-family: poppins; font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.31; letter-spacing: normal; text-align: left; color: #636363;">
            <p>To give you an update on how you are doing in class, you are currently not on track to move forward to the next module.</p>
            <p>As you know, Moringa School looks at 3 major aspects of your learning in considering whether you proceed to the next module:
            </p>
            <ul>
                <li>Attendance and punctuality.</li>
                <li>Completion and quality of your IPs.</li>
                <li>Positive contributions to the classroom environment; are you working well with others, and interpersonal skills.</li>
            </ul>
            <p>As it stands:</p>
            <ul>
                <li>Your attendance out of 100 is {{attendance}}.</li>
            </ul>
            <p>As for your IPs:</p>
            <ul>
                {% for ip,total in ips.items%}
                {% for ip_no,score in scores.items%}
                {%if ip_no == ip %}

                <li>{{ip}} out of {{total}} you have {{score}}. </li>
                {%endif%}
                {% endfor%}
                {% endfor%}

            </ul>
            <p>Based on the above scores we recommend that you spend the rest of the module working on improving the following.</p>
            {%if improvements%}

            <ul>
                <li>{{improvements}}</li>
            </ul>
            {%else%}
            Based on the above scores we recommend that you spend the rest of the module working
            on keeping up with your attendance,
            IP submissions and quality, and your interpersonal dynamics. Your work has been good
            so far, and we want to encourage
            you to keep the momentum going.
            {%endif%}

            <p>This is an automatic email. Please do not reply to it. Follow up with your TM if you have any questions and fill out <a href="https://goo.gl/forms/0IirlKjvqZ7Qwyt72" target="_blank">this form.</a></p>
            <p>-Best</p>
            <p>Classroom Team.</p>
        </div>
    </div>

    </div id = "footer">
    <p style=" width: 202px;height: 23px;margin: 14.4px 207.5px 0 208.5px;font-family: Poppins;font-size: 9px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: normal;text-align: center;color: #000000;">© 2020 Moringa School, MATAPP. All Rights Reserved.
        Ngong Lane Plaza, Ngong Rd, Nairobi</p>
    </div>

</body>

</html>


