
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Password Reset</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper" style="background-color:#f6f8fc; width: 618px; height: 499px; padding: 0 0 19.6px;">

    <div id="banner" style="width: 214px;height: 117px;padding: 7px 183px 7px 221px;background-color: #8f9948;">
        <img src="https://moringaschool.com/sites/default/files/default_images/Moringa_Logo-Dark.png" alt="logo" width="214px"; height="103px%">
    </div>

        <div id="white-background" style="  width: 361px;height: 270px;margin: 0px 128px 14.4px 129px;padding: 27.8px 19px 23.2px 29px;background-color: #ffffff;">

        <div id="div-page">
            <h1 style="line-height: 35px;text-align: center; color: #86C232;">
                Password Reset
            </h1>
            <h1 style="line-height: 45px;text-align: center;">
                 Hello <span id="username" style="color: #23bebe;"> {{username}},</span>
            </h1>

        <div id="div-content" style="line-height: 26px; width: 292px; height: 106px; margin: 13px 10px 0 11px; font-family: poppins; font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.31; letter-spacing: normal; text-align: left; color: #636363;">
            <p style="text-align: center;">Please click on this link to reset your password.</p>
            <div style="margin-top: 7%;">
                <a id="confirm-link" href="{{link}}" style="background-color:
                 #23bebe; color:#fff;padding: 0.4em;font-size: 2em;text-decoration: none;margin-left: 19%;">Reset Password</a>
            </div>
            <br>
        </div>
    </div>

    </div id = "footer">
    <p style=" width: 202px;height: 23px;margin: 14.4px 207.5px 0 208.5px;font-family: Poppins;font-size: 9px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: normal;text-align: center;color: #000000;">© 2020 Moringa School, MATAPP. All Rights Reserved.
        Ngong Lane Plaza, Ngong Rd, Nairobi</p>
    </div>

</body>

</html>



