<!DOCTYPE html>
<html lang="en">

<head>
    <title>Congratulations! Acceptance to the Next Phase On Probation</title>
    <meta name="description" content="Verification Link">
    <meta name="keywords" content="keywords">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div id="wrapper" style="background-color:#f6f8fc; width: 618px; height: 680px; padding: 0 0 19.6px;">

    <div id="banner" style="width: 214px;height: 117px;padding: 7px 183px 7px 221px;background-color: #8f9948;">
        <img src="https://moringaschool.com/sites/default/files/default_images/Moringa_Logo-Dark.png" alt="logo" width="214px"; height="103px%">
    </div>

        <div id="white-background" style="  width: 361px;height: 470px;margin: 0px 128px 14.4px 129px;padding: 27.8px 19px 23.2px 29px;background-color: #ffffff;">

        <div id="div-page">
            <h1 style="  width: 313px;height: 17px;margin: 0 0 13px;font-family: Poppins;font-size: 12px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 2.4;letter-spacing: normal;text-align: left;color: #636363;">
                Congratulations
            </h1>

            <h1 style="height: 12px;font-family: Poppins;font-size: 12px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 3.2;letter-spacing: normal;text-align: left;color: #636363;">
                Hello <span id="username" style="text-transform: uppercase;"> {{username}},</span>
            </h1>

        <div id="div-content" style="line-height: 26px; width: 292px; height: 106px; margin: 13px 10px 0 11px; font-family: poppins; font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.31; letter-spacing: normal; text-align: left; color: #636363;">
            <p>Congratulations! You're moving on to {{next_module}}.</p>
            <p>Your acceptance comes with one stipulation: as discussed, your {{probation_reasons}} were not exactly up to par so far. This means that you are on academic probation for the next module, and we need to see extra effort from you in that (and all) areas in order to ensure that you are truly able to succeed here at Moringa School.</p>
            <p>You absolutely must complete all IPs and show great growth in order to continue. You have frequent check-ins with your TM to help you along the way. Be proactive in your learning, ask for what you need if you start to fall behind again, and work hard.</p>
            <p>This stipulation is our version of probation, which at Moringa School is different than in a traditional learning institution. It means that we expect you to excel throughout the next module, and have strong communication with your Technical Mentor so that you receive the support that you need in order to be successful.</p>
            <p>As always, we’re here to support you. Reach out to your Technical Mentor if you want to talk through the rationale behind this and make a plan.</p>
            <p>-Best</p>
            <p>Classroom Team.</p>
        </div>
    </div>

    </div id = "footer">
    <p style=" width: 202px;height: 23px;margin: 14.4px 207.5px 0 208.5px;font-family: Poppins;font-size: 9px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: normal;text-align: center;color: #000000;">© 2020 Moringa School, MATAPP. All Rights Reserved.
        Ngong Lane Plaza, Ngong Rd, Nairobi</p>
    </div>

</body>

</html>

